* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
header img {
  height: 30px;
  vertical-align: middle;
  width: 200px;
}
.nav-bar {
  display: flex;
  background-color: white;
  position: fixed;
  padding: 5px 0 5px 0;
  width: 100%;
  justify-content: space-between;
}
nav a {
  color: black;
  text-decoration: none;
  letter-spacing: 0.8px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif, "Segoe UI", Tahoma,
    Arial, Helvetica, sans-serif, Verdana, sans-serif;
}
nav button {
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
  color: white;
  background-color: rgb(84, 84, 237);
  font-size: small;
  font-weight: 600;
}
.left-menu {
  margin-left: 20px;
}
.left-menu img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
}
.right-menu {
  margin-right: 10px;
}
main {
  height: 100%;
}
.contents {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
  grid-template-rows: minmax(auto);
  padding-top: 150px;
}
.contents h1 {
  grid-column: 3/4;
  font-style: italic;
}
.content-image,
.content5 {
  grid-column: 2/5;
}
.content1,
.content2,
.content3,
.content4,
.content6 {
  grid-column: 3/4;
  margin-top: 25px;
}
div .content1-author {
  line-height: 45px;
  /* padding-left: 185px; */
}
.content1-author a {
  text-decoration: none;
}
.content-image img {
  height: 450px;
  width: 100%;
}
div .img-details,
div .h4-bottom {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif, Arial, Helvetica,
    sans-serif;
  font-weight: 600;
  color: gray;
  width: 100%;
}
.content1 img {
  border-radius: 25px;
  background-color: #eeeeee;
  height: 30px;
  padding: 5px;
}
.content1 {
  display: flex;
  justify-content: space-between;
}
.content1 .icon {
  margin-top: 45px;
}
.content2 p,
.content3 p,
.content4 p,
.content6 p {
  margin-bottom: 15px;
}
.content3 a {
  text-decoration: none;
}
.content3 .middle {
  text-align: center;
}
.content-rightSide {
  grid-column: 4/6;
  align-self: center;
  padding: 0 40% 0 30px;
}
.content-rightSide hr {
  border: 0.5px solid lightgray;
  margin: 8px 0 15px 0;
}
.flex-container img {
  /* width: 100%; */
  height: 65px;
}
.flex-container {
  display: flex;
  margin: 10px 0 0;
}
.flex-container .flex-details {
  padding-left: 10px;
  text-align: left;
  font-size: small;
}
.content4 h4 {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 25px;
}
.content5 .inflation-img {
  width: 100%;
}
.content5-heading-details {
  color: #808080;
  font-weight: bolder;
}
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8 {
  width: 17%;
  position: absolute;
  text-align: left;
  font-size: small;
}
.item-title {
  margin-right: 10px;
  font-weight: bold;
}
.item1 {
  top: 366vh;
}
.item2 {
  top: 366vh;
  left: 32vw;
}
.item3 {
  top: 366vh;
  left: 50vw;
}
.item4 {
  top: 366vh;
  left: 68vw;
}
.item5 {
  top: 412vh;
}
.item6 {
  top: 412vh;
  left: 32vw;
}
.item7 {
  top: 412vh;
  left: 50vw;
}
.item8 {
  top: 412vh;
  left: 69vw;
}
.inflation-horizontal {
  border: 0.1px solid #808080;
  margin: -5px 0 25px 0;
  width: 12%;
}
